{{!
  Всегда следует добавлять атрибут `_ctx` как первый аргумент при вызове — это сотрёт родительский контекст,
  и позволит использовать локально любые переменные, не боясь пересечение с глобальными.
  https://github.com/handlebars-lang/handlebars.js/issues/1032
  https://github.com/handlebars-lang/handlebars.js/issues/1550

  Если есть непустой локальный контекст, можно использовать его вместо `_ctx`
}}
<{{default tag "figure"}}
  class="{{class}} avatar_{{default theme "default"}} avatar"
  {{#and width height (is size null)}}
    style="width: {{width}};"
  {{/and}}
  {{#if size}}
    style="width: {{size}};"
  {{/if}}
  {{#is tag "a"}}
    href="{{default href "#"}}"
  {{/is}}
  {{{attrs}}}
>
  <div
      class="avatar__pic"
      style="
        {{#if url}}
          background-image:url({{url}});
          --at2x: url({{reverse (replaceFirst (reverse url) '.' '.x2@')}});
        {{/if}}
        {{#and width height (is size null)}}
          padding-top: {{multiply 100 (divide (float height) (float width))}}%;
        {{/and}}
        {{#if size}}
          padding-top: 100%;
        {{/if}}
      "
    {{#if url}}
      data-populated="true"
    {{/if}}
  >
    {{#if url}}
      {{> img class="avatar__img" src=url}}
    {{/if}}
  </div>
</{{default tag "figure"}}>