{{#with messageData}}
  <article
      class="{{class}} {{#is text null}}message_no-text{{/is}} {{#if self}}message_self{{/if}} message"
      {{#if attach}}
        data-attach="{{attach.type}}"
      {{/if}}
  >
    {{#and (is self null) (isnt user.pic null)}}
      <div class="message__avatar">
        {{> avatar _ctx tag="a" href="#" size="100%" url=user.pic}}
      </div>
    {{/and}}
    <div {{#if attach.width}}style="width: {{attach.width}}px;"{{/if}} class="message__content">
      {{#and (is self null) (isnt user.name null)}}
        <div class="message__username">
          {{> link _ctx action=1 theme="1" text=user.name}}
        </div>
      {{/and}}
  
      {{#if attach}}
        <a data-type="{{attach.type}}" href="{{attach.url}}" class="message__attach block-link">
          {{#is attach.type "media"}}
            {{> media
                _ctx
                class="message__attach-media"
                url=attach.url
                previewDataURI=attach.previewDataURI
                width=attach.width
                height=attach.height
            }}
          {{/is}}
          {{#is attach.type "file"}}
            {{> file _ctx class="message__attach-file" url=attach.url size=attach.size}}
          {{/is}}
        </a>
      {{/if}}
      {{#*inline "message-meta"}}
        <span class="message__meta">
        {{#if self}}
          <span data-seen="{{seen}}" class="message__status"></span>
        {{/if}}
            {{> time _ctx class="message__time" value="12:30"}}
      </span>
      {{/inline}}
      {{#if text}}
        <span class="message__text">
          {{text}}
          {{> message-meta}}
        </span>
      {{else}}
        {{> message-meta}}
      {{/if}}
    </div>
  </article>
{{/with}}